    /* CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

    * {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
    }
    /* General styles
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li)) */

    body {
        background-color: #B4BECF;
        font-family: 'Playfair Display', serif;
        -webkit-font-smoothing: antialiased;
        font-size: 16px;
    }

    div {
        /*border: 1px solid Chocolate;*/
    }

    li {
        list-style: none;
        text-decoration: none;
    }

    .topState {
        color: #fff;
        text-transform: uppercase;
        font-size: 45px;
        letter-spacing: 6px;
        font-family: Open Sans;
        font-weight: 400;
        text-shadow: 3px 1px 3px rgba(0, 0, 0, 1);
    }

    #accordion .panel-default > .panel-heading {
        color: #333;
        background-color: transparent;
        border: none;
        border-radius: 0px;
        padding: 0;
    }

    #accordion.panel-group .panel {
        margin-bottom: 1px;
        border-radius: 0px;
        background-color: transparent;
    }

    #accordion .panel-title {
        overflow: hidden;
        text-transform: capitalize;
    }

    #accordion .panel-title a {
        padding: 15px 20px 15px 60px !important;
        font-size: 20px;
        display: table;
        width: 100%;
        position: relative;
        font-weight: 400;
        overflow: hidden;
    }

    #accordion .panel-default {
        border: none;
    }

    #accordion .panel-title a span {
        position: absolute;
        top: 0px;
        left: 0px;
        color: #337ab7;
        padding: 0px 16px;
        font-size: 13px;
        background: transparent;
        border: 1px solid #ececec;
        border-radius: 3px;
        height: 43px;
        line-height: 41px;
        transition: .4s;
    }

    #accordion.panel-group .panel.active .panel-title a span {
        background: #fff;
        color: #fff;
        transition: .4s;
    }

    #accordion .panel-title a i {
        color: #aaa;
        font-size: 14px;
        margin-right: 7px;
        position: relative;
        top: 1px;
        transition: .4s;
    }

    #accordion .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border: none;
        padding: 0;
    }

    #accordion2 .panel-default > .panel-heading + .panel-collapse > .panel-body {
        padding: 20px 0 25px 60px;
        margin: 0px;
    }

    .progress-label {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 18px;
        color: #337ab7;
    }

    .progressLabel {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 15px;
        color: #474343;
    }

    .enter_link {
        color: #315490;
        float: right;
        padding-right: 3rem;
    }

    .bookTitle {
        padding-top: 3rem;
        font-size: 18px;
        font-weight: bold;
        text-decoration: underline
    }

    .bookAbout {
        font-size: 18px;
        font-weight: bold;
        text-decoration: underline padding-bottom: 2rem;
    }

    .bookPoints {
        list-style: url(../images/diamond.png);
    }

    .bookOrder {
        color: #fff;
        float: right;
        margin-top: 15rem;
        padding: 1.25rem;
        border-radius: 1.5rem;
        font-weight: 500;
        font-size: 16px;
        background-color: #337ab7;
    }
